/* цвет акцента #2196F3 */
/* цвет основого текста #212121 */
/* доп цвет текста #757575; */
/* белый #FFFFFF */
body {
    font-family: Roboto, sans-serif;
    color: var(--secondary-text-color);
}
main {
    letter-spacing: 0.03em;
}
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #ffffff;
}

.logo {
    font-family: Raleway, cursive;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--white-color)
}

ul{
    list-style: none;
}
/* Header styles */

.site-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
 .site-nav .link:hover,
 .site-nav .link:focus {
     color: var(--accent-color)
     }

.site-nav .link.current {
    color: var(--accent-color);
}
.contacts-link {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}
/* Order button */
.order {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;    
    cursor: pointer;
}
/* sections styles */
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/* hero */
.hero {
    background-color :#2F303A;
}
.hero-title {
    color: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* fetures */
.feuture-list .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feuture-list .text {
    font-size: 14px;
    line-height: 1.71;
}
/* members */
.members {
    background-color: #F5F4FA;
}
 .staff-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.staff  a {
    text-decoration: none;
}
.staff-post {
    color: var(--secondary-text-color);
}

/* footer */
footer {
    background-color: #2F303A;
}
.links .adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.links .link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.links .link:hover,
.links .link:focus {
    color: var(--accent-color);
}
/* portfolio */

.nav-btn {
    cursor: pointer;
    font-family: Roboto , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-text-color);
}
.nav-btn:hover,
.nav-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.works .link {
    text-decoration: none;

}
.works .title {
    font-weight: 700;
    font-size: 18px;
    line-height: ;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.works .text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--secondary-text-color);
}

